$red-section-bg: orangered;
$red-section-fg: darkred;
$red-section-dark: brown;
$red-section-light: antiquewhite;

$blue-section-bg: aquamarine;
$blue-section-fg: darkslateblue;
$blue-section-dark: black;
$blue-section-light: lightcyan;
$blue-section-focus: darkcyan;

$green-section-bg: yellowgreen;
$green-section-fg: darkgoldenrod;
$green-section-dark: orange;
$green-section-light: lightyellow;

$focus-bg: rgba(0, 0, 0, 0.1);

$shadow-xl: rgba(0, 0, 0, 0.35) 0px 5px 15px;