/* #redtable tbody {
    background-color: black;
    color: white;
} */

table th, table td {
    padding: 8px;
}

div[class$="-section"] {
    margin: 20px;
    padding: 20px;
}

.red-section {
    background-color: orangered;
    border: 14px solid darkred;
}
.blue-section {
    background-color: aquamarine;
    border: 14px solid darkslateblue;
}
.green-section {
    background-color: yellowgreen;
    border: 14px solid darkgoldenrod;
}

table {
    background-color: white;
    width: 100%;
    text-align: left;
    border-spacing: 0;
    margin: 16px 0;
}

table thead { color: white;}
table tbody tr { transition: background-color 0.3s ease-in-out; }
table tbody tr:nth-child(even) { background-color:rgb(187, 186, 186)}
table tbody tr:hover { background-color: lightslategray; }

.red-section table { background-color: antiquewhite; }
.red-section table thead { background-color: brown; }
.blue-section table { background-color: lightcyan; }
.blue-section thead { background-color: black; }
.green-section table { background-color: lightyellow; }
.green-section table thead { background-color: orange; }

.smiley {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 50%;
}

a {
    color: brown;
    font-weight: bold;
    text-decoration: none;
}

a:hover, a:focus { color: black; }
a:visited { color: saddlebrown; }

input {
    width: 100%;
    margin-bottom: 8px;
    margin-top: 2px;
}

input[type="text"], input[type="number"], input[type="email"] {
    padding: 8px 4px;
}

.section-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#personFormContainer {
    visibility: visible;
    opacity: 1;
    height: auto;
    transition: opacity 1s 0.1s ease;
}

#personFormContainer.hidden {
    visibility: hidden; /* musim to tu dat, inak to prekryje poslednu sekciu - element je tam, aj ked je neviditelny */
    opacity: 0;
    height: 0;
}

button {
    border-radius: 4px;
    border-style: solid;
    background-color: transparent;
    transition: all 0.3s;
    padding: 8px 16px;
}

.blue-section button {
    border-color: darkslateblue;
    color: darkslateblue;
}

.blue-section button:hover {
    border-color: darkcyan;
    color: darkcyan;
    background-color:  rgba(0, 0, 0, 0.1);
}

button.small {
    padding: 2px 5px;
}

.person-detail {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    column-gap: 0.5rem;
    row-gap: 0.25;
}

.person-detail div {
    padding-top: 1rem;
}

@media screen and (max-width: 600px) {
    .person-detail {
        grid-template-columns: 1fr 2fr;
    }
}

@media screen and (max-width: 320px) {
    .person-detail {
        grid-template-columns: 1fr;
    }

    .person-detail div:not(:has(label)) {
        padding-top: 0;
    }
}