/* #redtable tbody {
    background-color: black;
    color: white;
} */

body {
    position: relative;
    font-family: Roboto, sans-serif;   
}

table th, table td {
    padding: 8px 16px;
}

div[class$="-section"] {
    margin: 20px;
    padding: 20px;
}

.red-section {
    background-color: orangered;
    border: 14px solid darkred;
}
.blue-section {
    background-color: aquamarine;
    border: 14px solid darkslateblue;
}
.green-section {
    background-color: yellowgreen;
    border: 14px solid darkgoldenrod;
}

table {
    background-color: white;
    width: 100%;
    text-align: left;
    border-spacing: 0;
    margin: 16px 0;
}

table thead { color: white;}
table tbody tr { transition: background-color 0.3s ease-in-out; }
table tbody tr:nth-child(even) { background-color:rgb(187, 186, 186)}
table tbody tr:hover { background-color: lightslategray; }

.red-section table { background-color: antiquewhite; }
.red-section table thead { background-color: brown; }
.blue-section table { background-color: lightcyan; }
.blue-section thead { background-color: black; }
.green-section table { background-color: lightyellow; }
.green-section table thead { background-color: orange; }

.smiley {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 50%;
}

a {
    color: brown;
    font-weight: bold;
    text-decoration: none;
}

a:hover, a:focus { color: black; }
a:visited { color: saddlebrown; }

input {
    width: 100%;
    margin-bottom: 8px;
    margin-top: 2px;
}

input[type="text"], input[type="number"], input[type="email"] {
    padding: 8px 4px;
}

.section-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#personFormContainer {
    visibility: visible;
    opacity: 1;
    height: auto;
    transition: opacity 1s 0.1s ease;
}

#personFormContainer.hidden {
    visibility: hidden; /* musim to tu dat, inak to prekryje poslednu sekciu - element je tam, aj ked je neviditelny */
    opacity: 0;
    height: 0;
}

button {
    border-radius: 4px;
    border-style: solid;
    background-color: transparent;
    transition: all 0.3s;

    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;

    padding: 0.5em 1em;
}

button.small {
    padding: 0.25em 0.5em;
}

button:hover {
    background-color:  rgba(0, 0, 0, 0.1);
}

.blue-section button {
    border-color: darkslateblue;
    color: darkslateblue;
}

.blue-section button:hover {
    border-color: darkcyan;
    color: darkcyan;
}

.green-section button:hover {
    border-color: rgb(2, 58, 2);
    color: rgb(2, 58, 2);
}

.green-section table button:hover {
    background-color: white;
}

.person-overlay, .menu-overlay {
    background-color: black;
    opacity: 55%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
}

.person-overlay.hidden, .menu-overlay.hidden {
    display: none;
}

.menu-overlay {
    z-index: 3;
}

.person-detail-container {
    height: 100vh;
    
    background-color: darkslategray;
    color: white;

    padding: 2rem;
    border-radius: 0.5rem;

    position: fixed;
    top: 0;
    right: -10px;
    width: 50%;
    z-index: 20;

    transform: translateX(0);

    transition: transform 0.3s ease-in-out;

    box-shadow: -7px 0px 22px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: -7px 0px 22px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: -7px 0px 22px 0px rgba(0,0,0,0.25);
}

.person-detail {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    column-gap: 0.5rem;
    row-gap: 0.25;
    
    height: fit-content;
    width: 100%;
}

.person-detail-container.hidden {
    transform: translateX(100%);
}

.person-detail label {
    font-weight: bold;
}

.person-detail div {
    padding-top: 1rem;
}

#taskList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.25rem;
    row-gap: 3px;
    margin-bottom: 1rem;
    justify-content: space-evenly;
}

#taskList div {
    background-color: black;
    border-radius: 1rem;
    color: white;
    padding: 0.3rem 0.8rem;
    font-size: 0.8rem;
    max-width: 10rem;
    display: inline-flex;
    align-items: center;
    column-gap: 0.5em;
    position: relative;
    /* flex: 50%; */
}

#taskList div .label {
    display: inline-block;
    padding: 0;
    min-width: 0;
    
    text-align: center;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#taskList div button {
    border-radius: 50%;
    border: none;
    padding: 0;
    font-size: 1em;
}

#taskList button {
    border-color: darkcyan;
    color: darkcyan;
}

#taskList button:hover {
    border-color: white;
    color: white;
}

.navbar {
    width: 100%;
    height: 3rem;
    background-color: rgba(5, 5, 5);
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.75);
    z-index: 5;

    display: flex;
    align-items: center;
    padding: 0.25rem 0.5rem;
}

.page-content {
    margin-top: 5rem;
}

.hamburgerIcon {
    width: 3rem;
    height: 3rem;
}

.navbar ul {
    background-color: darkslategray;
    color: white;
    list-style: none;

    position: absolute;
    top: -7px;

    padding: 0.5rem 1rem;
    width: 10rem;
    border-radius: 0.25rem;
}

.navbar ul a, .navbar #menuList2 a {
    color: white;
    font-weight: normal;
}

.navbar ul a:hover, .navbar #menuList2 a:hover {
    color: white;
    text-decoration: underline;
}

.navbar ul li {
    padding: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0.25rem;
}

.navbar ul li:last-of-type {
    border-bottom: none;
}

.navbar ul li:hover {
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.1);
}

.navbar ul.hidden {
    display: none;
}

.navbar #menuList2 {
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    width: 100%;
}
.navbar .hamburgerIcon {
    display: none;
}

@media screen and (max-width: 600px) {
    .person-detail {
        grid-template-columns: 1fr 2fr;
    }

    .navbar #menuList2 {
        display: none;
    }

    .navbar .hamburgerIcon {
        display: block;
    }
}

@media screen and (max-width: 320px) {
    .person-detail {
        grid-template-columns: 1fr;
    }

    .person-detail div:not(:has(label)) {
        padding-top: 0;
    }
}

.mines, .pexeso {
    width: auto;
    border-spacing: 4px;
    border-radius: 4px;
}
.mines tr {
    background-color: white !important;
}

.pexeso tr {
    background-color: transparent !important;
}

.mines tr td, .pexeso tr td {
    border-radius: 4px;
    background-position: center;
    background-size: cover;

    min-width: 0.5rem;
    min-height: 0.5rem;
    max-width: 0.5rem;
    max-height: 0.5rem;
}

.mines tr td.closed, .pexeso tr td.closed {
    background-image: url(https://minesweeper.online/img/skins/hd/closed.svg?v=3);
}
.mines tr td.open {}
.mines tr td.marked {
    background-image: url(https://minesweeper.online/img/skins/hd/flag.svg?v=3);
}

.mines tr td.open.mine {
    background-image: url(https://minesweeper.online/img/skins/hd/mine_red.svg?v=3);
}